@model MvcPrimerExamenAWS.Models.Apuesta

@{
    ViewData["Title"] = "NuevaApuesta";
}

<h1>NuevaApuesta</h1>

<h4>Apuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <input class="form-control" name="usuario" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">GOLES REALMADRID</label>
                <input class="form-control" name="goleslocal" />
                <span asp-validation-for="GolesLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">GOLES MAN CITY</label>
                <input class="form-control" name="golesvisitante" />
                <span asp-validation-for="GolesVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
